/*===NAV===*/
.submit2 {
	background-color: #444;
	margin-left: 5px;
	border-radius: 2px;
	border: 1px solid #444;
	color: #fff;
	padding: 5px 20px 7px 20px;	
	text-transform: uppercase;
	text-decoration: none;
	transition-duration: 0.4s;
}
.submit2:hover {
	background-color: #fff;
	color: #444;
	border: 1px solid #444;
}
.navbar-inverse .navbar-nav li a:hover {
	background-color: #444444;
	transition: 0.7s all linear;
	height: 100%;
}
/*===carousel===*/
[class*="carousel-example-"]{
  min-height:500px;
}
.carousel-example-1 {
	background: #d53369; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #d53369 , #cbad6d); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #d53369 , #cbad6d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.carousel-example-2 {
	background: #5fae3c; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #5fae3c , #c1d679); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #5fae3c , #c1d679); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.carousel-example-3 {
	background-color: #F89406;
	background: #f48814; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #f48814 , #ee4c3f); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #f48814 , #ee4c3f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.carousel-example-4 {
	background: #f03e79; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #f03e79 , #e260c2); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #f03e79 , #e260c2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.carousel-example-5 {
	background: #444; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #444 , #666); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #444 , #666); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.carousel2-txt {
	position: absolute;
	display: block;
	z-index: 1;
	text-align: center;
}
.mainheader {
	padding-top: 160px;
	color: #fff;
	font-size: 72px;
}
.mainsmall {
	color: #dedede;
	font-size: 18px;
	font-weight: 300;
}
.mainbtn {
	background: rgba(255, 255, 255, 0);
	border: 1px solid #fff;
	border-radius: 2px;
	color: #fff;
	padding: 8px 20px;
	text-transform: uppercase;
	text-decoration: none;
	width: 220px;
	height: 48px;
	transition-duration: 0.4s;
	display: block;
	margin: 30px auto 0;
}
.mainbtn:hover {
	background-color: #fff;
	color: #d53369;
	border: 1px solid #fff;
}
/*===TABS===*/
.maintabs {
	padding: 40px 0;
}
.maintabs-a {
	color: #333;
}
.maintabs-a:hover {
	color: #d53369;
}
.maintabs-a-active {
	font-weight: 600;
}
/*===MODAL===*/
.modal-center {
	text-align: center;
	margin-bottom: 40px;
}
.mainmodal-btn {
	background-color: #7bbf69;
	border: none;
	border-radius: 2px;
	border: 1px solid #7bbf69;
	color: #fff;
	padding: 8px 20px;
	text-transform: uppercase;
	text-decoration: none;
	width: 100%;
	height: 48px;
	transition-duration: 0.4s;
}
.mainmodal-btn:hover {
	background-color: #fff;
	color: #7bbf69;
	border: 1px solid #7bbf69;
}
/*===GALLERY===*/
.example-1 {
	background: url(https://images.unsplash.com/photo-1427694012323-fb5e8b0c165b?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=979&q=80&cs=tinysrgb) no-repeat center;
	background-size: cover;
	width: 100%;
	height: 400px;
	position: relative;
}
.example-1:before {
	content: " ";
	position: absolute;
	background: rgba(4, 4, 4, 0.8);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.example-2 {
	background: url(https://images.unsplash.com/photo-1464746133101-a2c3f88e0dd9?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1032&q=80&cs=tinysrgb) no-repeat center;
	background-size: cover;
	width: 100%;
	height: 400px;
	position: relative;
}
.example-2:before {
	content: " ";
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.example-3 {
	background: url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb) no-repeat center;
	background-size: cover;
	width: 100%;
	height: 400px;
	position: relative;
}
.example-3:before {
	content: " ";
	position: absolute;
	background: rgba(4, 4, 4, 0.8);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.example-4 {
	background: url(https://images.unsplash.com/photo-1472640828211-0912f310f3f9?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=996&q=80&cs=tinysrgb) no-repeat center;
	background-size: cover;
	width: 100%;
	height: 400px;
	position: relative;
}
.example-4:before {
	content: " ";
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
/*===MEDIA GROUP===*/
.mainmedia {
	padding: 40px 0;
	text-align: center;
}
.mainh4 {
	font-size: 32px;
	padding-bottom: 10px;
}
.mainp {
	font-size: 16px;
}
.maincolor{
	color: #d53369;
}
/*===TABLE===*/
.maintable {
	padding-top: 40px;
	padding-bottom: 40px;
}
.mainmediatop {
	vertical-align: center;
	margin-bottom: 20px;
	border-radius: 60px;
}
/*===THUMBNAILS===*/
.mainthumbnails {
	background-color: #f4f4f4;
	padding-top: 80px;
	padding-bottom: 80px;
}
.mainnails {
	padding: 20px 0;
}
/*===FORM===*/
.mainform {
	padding-top: 40px;
	padding-bottom: 40px;
}
.maininputemail, .maininputname, .maininputmessage {
	width: 100%;
	padding: 12px 20px;
	box-sizing: border-box;
	border-radius: 2px;
	border: 1px solid #bebebe;
}
.maininputemail {
	margin-bottom: 20px;
}
.maininputname {
	margin-bottom: 20px;	
}
.submit1 {
	background-color: #7bbf69;
	border: none;
	border-radius: 2px;
	border: 1px solid #7bbf69;
	color: #fff;
	padding: 8px 20px;
	text-transform: uppercase;
	text-decoration: none;
	width: 100%;
	height: 48px;
	transition-duration: 0.4s;
}
.submit1:hover {
	background-color: #fff;
	color: #7bbf69;
	border: 1px solid #7bbf69;
}